{% extends 'layout.html' %}
{% block main %}
<ol class="breadcrumb">
    <li><a href="/admin">后台管理</a></li>
    <li class="active">相册列表</li>
</ol>
<table class="table table-hover table-striped table-bordered">
    <tr style="font-weight: bold">
        <td>ID</td>
        <td>时间</td>
        <td>主题</td>
        <td>内容</td>
        <td>操作</td>
    </tr>
    {% for photo in photos %}
    <tr>
        <td>{{ photo._id.toString() }}</td>
        <td>{{ photo.time }}</td>
        <td>{{ photo.topic }}</td>
        <td>{{ photo.photos }}</td>
        <td>
            <a href="/admin/photos/edit?id={{ photo._id.toString() }}">编辑</a> |
            <a href="/admin/photos/delete?id={{ photo._id.toString() }}">删除</a>
        </td>
    </tr>
    {% endfor %}
</table>

<!--分页-->
{% include 'page.html' %}

{% endblock %}
