@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?9mzbrv');
  src:  url('../fonts/icomoon.eot?9mzbrv#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?9mzbrv') format('truetype'),
    url('../fonts/icomoon.woff?9mzbrv') format('woff'),
    url('../fonts/icomoon.svg?9mzbrv#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-price-tag:before {
  content: "\e901";
}
.icon-calendar:before {
  content: "\e900";
}
.icon-arrow-outline-left:before {
  content: "\e902";
}
.icon-arrow-outline-right:before {
  content: "\e903";
}
.icon-images:before {
  content: "\e90e";
}
.icon-film:before {
  content: "\e913";
}
.icon-book:before {
  content: "\e91f";
}
.icon-pushpin:before {
  content: "\e946";
}
.icon-user:before {
  content: "\e971";
}
.icon-menu:before {
  content: "\e9bd";
}
.icon-arrow-up:before {
  content: "\ea32";
}
.icon-arrow-up2:before {
  content: "\ea3a";
}
