html {
    height: 100%;
    color: #1a1a1a;
    font-family: lucida grande, lucida sans unicode, lucida, helvetica, Hiragino Sans GB, Microsoft YaHei, WenQuanYi Micro Hei, sans-serif;
}

body {
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    min-height: 100%;
}

.index-wrapper {
    min-height: 100%;
    background-color: #f6f6f6;
}

/*侧边菜单*/
.index-side-menu {
    position: fixed;
    width: 300px;
    left: 0;
    top: 0;
    bottom: 0;
    background-color: #eaeaea;
    z-index: 2;
    box-shadow: 1px 0 10px #101111;
    transition: all .3s cubic-bezier(0.18, 0.89, 0.32, 1.28);
}

.index-side-menu.hidden {
    left: -300px;
}

.index-side-menu.show {
    left: 0;
}

.index-side-menu .side-menu-top {
    overflow: hidden;
    height: 270px;
    background: #171c3a;
}

.side-menu-top .header {
    width: 120px;
    height: 120px;
    margin: 0 auto;
    margin-top: 35px;
    cursor: pointer;
    background: url("../image/header.jpg");
    background-size: 100%;
    border-radius: 50%;
    border: 5px solid #eaeaea;
}

.index-side-menu .menu-list {
    margin: 30px 0;
}

.index-side-menu .about-me {
    position: absolute;
    padding-left: 60px;
}

.index-side-menu .about-me a {
    position: relative;
    display: inline-block;
    width: 30px;
    margin: 0 5px;
}

.index-side-menu .about-me a:hover:after {
    background-color: rgba(255, 255, 255, 0);
}

.index-side-menu .about-me a:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    transition: background-color .3s;
    background-color: rgba(255, 255, 255, .6);
}

.index-side-menu .about-me img {
    width: 100%;
    border-radius: 50%;
    display: block;
}

.index-side-menu .menu-list .item {
    height: 50px;
    padding: 0 20px;
    font-size: 16px;
    line-height: 50px;
    margin: 10px 0;
}

.index-side-menu .menu-list .item:hover {
    background: #c4c4c4a8;
}

.index-side-menu .menu-list .item a {
    color: #444444;
    display: block;
    padding-left: 50px;
    vertical-align: middle;
}

.index-side-menu .menu-list .item a .txt {
    margin-left: 20px;
}

.index-side-menu .menu-list .item a .icon {
    vertical-align: middle;
}

.side-menu-top .name {
    color: #eaeaea;
    font-size: 22px;
    text-align: center;
    margin-top: 25px;
}

.side-menu-top .desc {
    color: #eaeaea;
    font-size: 16px;
    text-align: center;
    margin-top: 25px;
}

/*右侧内容*/
.index-content-wrapper {
    position: absolute;
    right: 0;
    top: 0;
    min-height: 100%;
    background: #eaeaea;
    left: 300px;
    width: auto;
    transition: all .3s cubic-bezier(0.18, 0.89, 0.32, 1.28);
}

.index-content-wrapper.hidden {
    left: 0;
}

/*固定bar*/
.index-header {
    display: block;
    position: fixed;
    width: auto;
    left: 300px;
    right: 0;
    opacity: 0;
    z-index: 1;
    overflow: hidden;
    background: #171c3a;
    transition: all .3s cubic-bezier(0.18, 0.89, 0.32, 1.28);
}

.index-header.opacity_1 {
    opacity: 1;
}

.index-header.hidden {
    left: 0;
}

.index-header .menu-icon {
    float: left;
    padding: 15px 20px;
    color: #ffffff;
    font-size: 18px;
    cursor: pointer;
}

.index-header .menu-icon:hover {
    color: orange;
}

.index-header .header-txt {
    width: 70%;
    line-height: 50px;
    text-align: center;
    color: #fff;
    font-size: 18px;
    margin: 0 auto;
    background: #171c3a;
    transition: all 0.3s 0.2s;
    transform: translateY(100%);
}

.index-header .header-txt.txt-show {
    transform: translateY(0);
}

.index-content .content-top {
    position: relative;
    height: 270px;
    width: 100%;
    overflow: hidden;
}

#universe {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-image: radial-gradient(1600px at 70% 120%, rgba(33, 39, 80, 1) 10%, #020409 100%);
}

.index-content .content-top .footer {
    position: absolute;
    bottom: 0;
    height: 300px;
    width: 100%;
}

.content-top #scene {
    height: 100%;
    position: absolute;
    left: 50%;
    margin-left: -800px;
}

.index-content {
    overflow: hidden;
    min-height: calc(100vh - 50px);
}

.index-content .article-wrapper {
    margin: 0 35px;
    position: relative;
    margin-top: -75px;
}

.article-wrapper .article {
    position: relative;
    border-bottom: 1px solid #fff;
    background-color: #ffffff;
    background: linear-gradient(211deg, transparent 24px, #fff 0);
    margin-top: 35px;
}

.article:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    background: linear-gradient(to left bottom, transparent 50%, rgba(0, 0, 0, .1) 0, rgba(0, 0, 0, .3)) 100% 0 no-repeat;
    width: 1.73em;
    height: 3em;
    transform: translateY(-1.3em) rotate(-29deg);
    transform-origin: bottom right;
    border-bottom-left-radius: inherit;
    box-shadow: -.2em .2em .3em -.1em rgba(0, 0, 0, .15);
}

.article-wrapper .article-header {
    border-left: 5px solid #4d4d4d;
    padding: 15px 0 5px 0;
    padding-left: 7.6%;
    padding-right: 7.6%;
}

.article-header .title {
    display: inline-block;
    margin-left: 0;
    font-weight: 300;
    line-height: 35px;
    margin-bottom: 12px;
    color: #696969;
    font-size: 26px;
    max-width: 90%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.article-header .time {
    float: right;
    color: #999;
    margin-top: 20px;
    line-height: 32px;
}

.article .article-content {
    padding: 10px 7.6%;
    box-sizing: border-box;
}

.article .article-content img {
    width: 100%;
}

.article-content .desc {
    line-height: 1.8;
    margin: 20px 0;
}

.article-content .desc.views li {
    list-style: outside;
}

.article .article-info {
    padding-top: 20px;
    margin: 30px 7.6% 0;
    min-height: 72px;
    border-top: 1px solid #ddd;
}

.article-info .icon {
    color: #666;
    display: inline-block;
    position: absolute;
}

.article-info .tags {
    display: inline-block;
    margin-left: 20px;
}

.article-info .more {
    display: inline-block;
    float: right;
    font-size: 12px;
    background: #444;
    color: #fff;
    cursor: pointer;
    line-height: 14px;
    padding: 7px 10px;
    margin-bottom: 15px;
}

.article-info .tags .tag {
    float: left;
    height: 18px;
    margin-bottom: 10px;
    margin-left: 20px;
}

.icon-price-tag {
    font-size: 20px;
}

.tags .tag a {
    position: relative;
    display: inline-block;
    line-height: 14px;
    color: #fff;
    background: #ba8f6c;
    font-size: 10px;
    padding: 2px 10px 2px 12px;
    border-radius: 0 5px 5px 0;
    letter-spacing: 1px;

}

.tags .tag a:before {
    content: '';
    position: absolute;
    left: -18px;
    top: 0;
    width: 0;
    height: 0;
    border: 9px solid transparent;
    border-right-color: #ba8f6c;
}

.tags .tag a:after {
    content: '';
    position: absolute;
    left: 1px;
    top: 6px;
    width: 4px;
    height: 4px;
    background: #fff;
    border: 1px solid #555;
    border-radius: 50%;
}

/*分页*/
.pagination {
    margin: 25px 3%;
}

.pagination .prev a, .pagination .next a {
    display: block;
    padding: 8px 10px;
}

.pagination .prev.disabled, .pagination .next.disabled {
    display: none;
}

.pagination .num {
    float: right;
}

.pagination .num .item {
    float: left;
    display: inline-block;
}

.pagination .prev, .pagination .next, .pagination .item {
    float: right;
    margin-right: 8px;
    cursor: pointer;
    border: 1px solid #aaaaaa;
    border-radius: 5px;
    color: #171c3a;
    font-size: 12px;
    user-select: none;
}

.pagination .prev a, .pagination .next a {

}

.pagination .item a {
    display: block;
    padding: 8px 10px;
}

.pagination .prev:hover, .pagination .next:hover, .pagination .item:hover {
    border-color: #171c3a;
}

.pagination .active a {
    color: #ffffff;
    background: #171c3a;
    border: none;
}

.bottom-bar {
    height: 50px;
    line-height: 50px;
    background: #171c3a;
    text-align: center;
}

.bottom-bar span {
    color: #ffffff;
    font-size: 14px;
    margin-right: 20px;
}

.back-top {
    position: fixed;
    width: 30px;
    height: 30px;
    bottom: 50px;
    right: 30px;
    padding-top: 8px;
    color: #ffffff;
    box-sizing: border-box;
    background: #cccccc;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    display: none;
}

.mask {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .8);
    display: none;
}

.mask.show {
    display: block;
}

.back-top:hover {
    color: orange;
}

.back-top.show {
    display: block;
}

.article-nav {
    padding: 25px 0;
}

.article-nav .article-prev {
    float: left;
}

.article-nav .article-next {
    float: right;
}

.article-nav .nav .arrow {
    vertical-align: middle;
    padding: 0 8px;
}

.article-nav .nav a {
    color: #171c3a;
}

.article-nav .nav a:hover {
    color: #000;
}

#SOHUCS > div[node-type] {
    box-sizing: border-box;
}

#feedAv {
    margin-top: -250px !important;
    transform: scale(0);
}

/**
    移动端适配
 */

/*页面宽度小于800px*/
@media screen and (max-width: 800px) {

    /*菜单相关*/
    .index-side-menu {
        width: 250px;
        left: -260px;
    }

    .side-menu-top .header {
        width: 100px;
        height: 100px;
    }

    .index-side-menu .menu-list {
        margin: 10px 0 20px;
    }

    .index-side-menu .menu-list .item {
        margin: 0;
    }

    .index-side-menu .side-menu-top {
        height: 260px;
    }

    /*内容相关*/
    .index-content-wrapper {
        left: 0;
    }

    .index-content .article-wrapper {
        margin: 0 5px;
        margin-top: -75px;
    }

    .index-header {
        left: 0;
    }

    .pagination {
        margin: 25px 5px;
    }

    .index-header {
        opacity: 1;
    }

    .index-header .header-txt {
        transform: translateY(0)
    }

    .article-nav .nav {
        float: none;
        margin: 20px 0;
    }

    .article-nav .nav .arrow {
        float: left;
    }

    .article-nav .nav a {
        padding-left: 10px;
    }
}

/*对markdown样式的补充*/
pre {
    display: block;
    padding: 9.5px;
    margin: 0 0 10px;
    font-size: 15px;
    line-height: 1.42857143;
    color: #333;
    word-break: break-all;
    word-wrap: break-word;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 4px;
    overflow: auto;
}

blockquote {
    padding: 10px 20px;
    margin: 0 0 20px;
    font-size: 17.5px;
    border-left: 5px solid #eee;
}

.desc ul, ol {
    padding-left: 40px;
}

#article-content h2 {
    margin: 30px 0;
    padding-bottom: 5px;
    border-bottom: 1px solid #61cc60;
}








