{% extends 'layout.html' %}

{% block article %}
{% if data.photos !== undefined %}
<div class="article">
    <div class="article-content">
        {% for photo in data.photos %}
        <div class="photo-topic">{{ photo.topic }}</div>
        <div class="photo-time">{{ photo.time }}</div>
        <div class="photo-content">
            {% autoescape false %}
            {{ photo.content_html }}
            {% endautoescape %}
        </div>
        {% endfor %}
    </div>
</div>
{% endif %}
{% endblock %}

