{% extends 'layout.html' %}

{% block article %}
<div class="article">
    <div class="article-header">
        <h1 class="title">文章标签</h1>
    </div>
    <div class="article-content">
        <!--<div class="article-info">-->
        <ul class="tags clearfix" style="padding-bottom: 70px">
            {% for tag in tags %}
            <li class="tag" style="float: left;margin:6px 10px">
                <a href="/?category={{ tag }}"><i class="before"></i>{{ tag }}</a>
            </li>
            {% endfor %}
        </ul>
        <!--</div>-->
    </div>
</div>
{% endblock %}